@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-banner {
  background-image: url('../assets/banner.png');
  height: 470px;
}